/*===================================================
BRUSCH SCRIPT MT COMPANY FONT
=====================================================*/

@font-face {
    font-family: "Brush Script MT", cursive;
    src: url("../fonts/Brush_Script_MT_Italic.ttf");
}

@font-face {
    font-family: "Brush Script MT", cursive;
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Brush_Script_MT_Italic.ttf");
}

/*===================================================
=====================================================*/

section#content {
	background: #fff;
	border-radius: 15px;
	padding: 10px;
	width: 100%;
	margin: 15px auto !important;
}

section#content h2 {
	font-family: "Varela Round", sans-serif;
	font-weight: 900;
}

nav ul li a {
	font-family: "Varela Round", sans-serif;
	background: #334657 !important;
	color: #FCFFF5 !important;
	font-weight: bold;
	width: 100%;
}

nav ul li a:hover {
	background: #0B5B76 !important;
	color: #FCFFF5 !important;
}

footer {
	background: url("../images/truck_footer.jpg") !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	border-top: 10px solid #0B5B76;
	border-bottom: 10px solid #0B5B76;
	color: #0B5B76 !important;
	font-family: "Varela Round", sans-serif !important;
}

#content h1.title2 {
	font-family: "Varela Round", sans-serif !important;
	font-size: 2em;
}

#page-header .wrapper h1.title a {
	text-shadow: -3px -5px 5px #888;
}

#content p {
	color: #fff;
	text-align: center;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #fff; /*#91aa9d*/
	font-weight: 900;
	font-family: "Varela Round", sans-serif;
	text-align: center;
}

#content h1 {
	font-size: 2.25em;
}

.selected {
	background: #0B5B76 !important;
	color: #fcfff5 !important;
}

.men-toggle, 
.srt-menu {
	font-family: "Varela Round", sans-serif !important;
}

#content .truck {
	box-shadow: 2px 2px 5px #193441;
}

#content .holder_map {
	float: left !important;
}

#page-header .wrapper h1.phone {
	font-family: "Brush Script MT" !important;
	font-size: 3em !important;
	text-shadow: -1px -3px 5px silver;
}

h1.phone {
	color: #000;
}

.service_holder {
	text-align: center;
	max-width: 100%;
}

.service_holder img {
	max-width: 100%;
	/*margin-right: 25px;*/
	border-radius: 15px;
	height: 300px;
	box-shadow: 3px 3px 7px #000;
}

.service_holder_main_truck img {
	border-radius: 15px;
	box-shadow: 3px 3px 7px #000;
	width: 100%
}

#content {
	text-shadow: 3px 3px 1px #000 !important;
}

.office_email {
	margin-top: -25px;
}

.cars_cert {
	border-radius: 15px;
}

#cars_holder {
	width: 250px;
	margin: 0 auto;
}

/*================================================
MEDIA QUERIES
================================================*/

@media screen and (max-width: 481px) {
	.tap_call {
		margin-top: -25px !important;
		margin-bottom: -15px !important;
	}

	.tap_call2 {
		margin: 7px 0px !important;
	}

	#page-header .wrapper h1.phone {
		font-size: 2em !important;
	}

	.service_holder img {
		height: auto;
	}

	#page-header .wrapper h1.title {
		font-size: 2.75em !important;
	}
}

@media screen and (max-width: 767px) {
	#page-header .wrapper h1 {
		margin-top: -3px;
	}

	#page-header .wrapper h1 {
		text-shadow: none !important;
		font-weight: 900 !important;
	}

	#page-header .wrapper h1.phone {
		margin-top: -30px !important;
	}
}

@media screen and (min-width: 768px) {
	#page-header .wrapper h1 {
		margin-top: -15px;
		padding: 0px;
	}

	#page-header .wrapper h1.phone {
		margin-top: -55px !important;
	}

	#page-header .wrapper h1.title a {
		font-size: 1.15em !important;
	}
}

@media screen and (max-width: 919px) {
	.srt-menu li a {
		text-align: center;
		background: #334657 !important;
		color: #fff !important;
	}

	.srt-menu li a:hover {
		background: #0B5B76 !important;
	}

	.srt-menu li a {
		padding: 17px 0 !important;
	}

	.menu-toggle {
		width: 100%;
		text-align: center;
	}

	#content {
		text-align: center;
	}

	.srt-menu li a.selected {
		background: #0B5B76 !important;
		color: #fcfff5 !important;
	}
}

@media screen and (min-width: 920px) {
	#menu-main-navigation {
		width: 700px !important;
		margin: 0 auto !important;
	}

	nav ul li {	
		margin-right: 5px !important;
		box-shadow: 4px 4px 5px #193441 !important;
	}

	nav ul li a {
		padding: 25px 15px 45px 15px !important;
	}

	#page-header .wrapper h1.phone {
		margin-bottom: -15px !important;
	}
}

@media screen and (min-width: 481px) {
	#page-header .wrapper h1.phone {
		margin-bottom: -5px;
	}
}

@media screen and (max-width: 501px) and (min-width: 481px) {
	.wrapper #content p.main_para {
		text-align: left;
	}

	.wrapper #content .holder2 img.truck {
		width: 240px !important;
	}
}

@media screen and (max-width: 324px) {
	#page-header .wrapper h1.title {
		font-size: 2.75em !important;
	}
}

@media screen and (min-width: 500px) {
#page-header .wrapper h1.title a {
		font-size: 1.5em;
	}
}